
.imagegallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    justify-content: center; 
  }
  
  .imagegallery li {
    flex: 1 1 calc(33.333% - 32px); 
    list-style: none;
    margin-bottom: 16px;
    max-width: calc(33.333% - 32px);
  }
  
  .imagegallery img {
    width: 100%;
    height: 200px;
    border-radius: 8px; 
    object-fit: cover; 
  }